

.App {
  background: #d3d3d3;
  height: 100vh;
}

.app-header{
  padding-top: 20px;
  padding-left: 20px;
  font-weight: 600;
  font-style: bold;
}

.question-header {
  font-weight: bold;
  margin: 15px;
}

.submit-row {
  display: inline;
  color: green;
}
